//-
	* Nombre proyecto:
	* Fecha inicio:
	* Email desarrollador:
	* Descripción:
	* Dependencias:
	* Dónde se utiliza/requiere:

extends ./inc/_layout

block variables
	- var title = 'LazyLoad | ' + siteTitle

block wBody
	main#lazyload.home
		.container-fluid
			.row
				.col-sm-3.col-lg-2.col-mnv.bg-grey-dark.position-fixed
					.bar.bg-grey-dark.text-white.-vert.pt-15.pb-15
						h4.bar-item.fz-15.bd-bottom Imagen
						.fz-14
							a(href='#image' data-js="sctop").bar-item.button Normal
							a(href='#image-resp-1' data-js="sctop").bar-item.button Resposive - Mobile, Desktop
							a(href='#image-resp-2' data-js="sctop").bar-item.button Resposive - Mobile, Tablet, Desktop

						h4.bar-item.fz-15.bd-bottom.-mt10 Background
						.fz-14
							a(href='#bg' data-js="sctop").bar-item.button Normal
							a(href='#bg-resp-1' data-js="sctop").bar-item.button Responsive - Mobile, Desktop
							a(href='#bg-resp-2' data-js="sctop").bar-item.button Responsive - Mobile, Tablet, Desktop

						h4.bar-item.fz-15.bd-bottom.-mt10 Otros
						.fz-14
							a(href="#iframe" data-js="sctop").bar-item.button Iframe
							a(href="#scroll" data-js="sctop").bar-item.button Scroll Custom

				.col-sm-9.offset-sm-3.col-lg-10.offset-lg-2.p-20
					h1 LazyLoad

					.mt-30#image
						h5 Imagen Normal
						.mt-20
							img(src=siteImg + 'lazy/b.png' data-src=siteImg + 'lazy/image-1.jpg' alt='' width='800' height='600' class='lazy' lazyload)

							p.mt-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

							p.mt-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

					.mt-50#image-resp-1
						h5 Image Resposive - Mobile, Desktop
						.mt-20
							img(src=siteImg + 'lazy/b.png' data-src=siteImg + 'lazy/image-m-2.jpg' data-srcset=siteImg + 'lazy/image-2.jpg 992w' alt='' width='800' height='600' class='lazy' lazyload)

							p.mt-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

							p.mt-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

					.mt-50#image-resp-2
						h5.mt-30 Resposive - Mobile, Tablet, Desktop
						.mt-20
							img(src=siteImg + 'lazy/b.png' data-src=siteImg + 'lazy/image-m-3.jpg' data-srcset=siteImg + 'lazy/image-t-3.jpg 768w, #{siteImg}lazy/image-3.jpg 1200w' alt='' width='800' height='600' class='lazy' lazyload)

							p.mt-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

							p.mt-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

					.mt-50#bg
						h5.mt-30 Background
						.mt-20
							div(style="background-image:url(#{siteImg}img/lazy/b.png);" data-src=siteImg + 'lazy/image-4.jpg' alt='' width='800' height='600' class='lazybg' lazyload)
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

								p.mt-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

					.mt-50#bg-resp-1
						h5.mt-30 Background Resposive - Mobile, Desktop
						.mt-20
							div(data-src=siteImg + 'lazy/image-m-5.jpg' data-srcset=siteImg + 'lazy/image-5.jpg 992w' alt='' width='800' height='600' class='lazybg' lazyload)
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

								p.mt-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

					.mt-50#bg-resp-2
						h5.mt-30 Background Resposive - Mobile, Tablet, Desktop
						.mt-20
							div(data-src=siteImg + 'lazy/image-m-6.jpg' data-srcset=siteImg + 'lazy/image-t-6.jpg 768w, #{siteImg}img/lazy/image-6.jpg 1200w' alt='' width='800' height='600' class='lazybg' lazyload)
								p.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

								p.text-white.mt-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

					.mt-50#iframe
						h5.mt-30 Iframe
						.mt-20
							iframe(src="" data-src="https://www.youtube.com/embed/qQtTjLnncVE" frameborder="0" allowfullscreen class="lazyiframe" lazyload)

					.mt-50#scroll
						h5.mt-30 Scroll Custom

						.sc-custom#sc-custom.mt-20
							img(src=siteImg + 'lazy/b.png' data-src=siteImg + 'lazy/image-7.jpg' alt='' width='800' height='600' class='lazy' lazyscroll)
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

							.mt-30
								img(src=siteImg + 'lazy/b.png' data-src=siteImg + 'lazy/image-8.jpg' alt='' width='800' height='600' class='lazy' lazyscroll)
								p.mt-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.

							.mt-30
								img(src=siteImg + 'lazy/b.png' data-src=siteImg + 'lazy/image-9.jpg' alt='' width='800' height='600' class='lazy' lazyscroll)
								p.mt-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum qui nulla unde aut dolor velit dolores sequi voluptatibus id, hic, quae quis officiis illo error, reiciendis in? Earum, optio.


block wScripts
	//-script(src='js/i2b-lazyload.js')
	//-script(src='js/i2b-scroll.js')
